Source: cgsi-gsoap
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends:
 debhelper (>= 9),
 libglobus-gss-assist-dev,
 libglobus-gssapi-gsi-dev,
 libgsoap-dev,
 voms-dev,
 doxygen,
 pkg-config
Standards-Version: 4.5.1
Section: libs
Vcs-Browser: https://salsa.debian.org/ellert/cgsi-gsoap
Vcs-Git: https://salsa.debian.org/ellert/cgsi-gsoap.git
HomePage: https://dmc-docs.web.cern.ch/dmc-docs/cgsi-gsoap.html

Package: libcgsi-gsoap1
Section: libs
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${gsoap:Depends}
Description: GSI plugin for gSOAP
 This is a GSI plugin for gSOAP. It uses the globus GSI libraries to implement
 GSI secure authentication and encryption on top of gSOAP.

Package: libcgsi-gsoap-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libcgsi-gsoap1 (= ${binary:Version}),
 ${misc:Depends},
 ${gsoap:Depends}
Description: GSI plugin for gSOAP - development files
 This package provides the header files for programming with the cgsi-gsoap
 plugins.
